Repository eliasnorrby/ecfg: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  06b45885aa56d6b2f4166b8100ec604740cef8a6
Due: none

ci(npm): add prepare script
  package.json
Due: prettier --write

feat: add learn more message
  src/index.test.ts
  src/index.ts
Due: prettier --write, eslint

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b78ef0a76fdd61b7ffd9999fd3a40639ab8268f4
Due: none

feat: add shebang to index.ts
  src/index.ts
Due: prettier --write, eslint

build: exclude test files in output
  tsconfig.json
Due: prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  161e4a17036475d7fe16e50bf7787c66a2854ce1
Due: none

style: format with prettier
  commitlint.config.js
  jest.config.js
  prettier.config.js
Due: prettier --write

ci: switch to github actions
  .github/workflows/ci.yml
  .travis.yml
Due: prettier --write

ci: fix lint and format check steps
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): bump most deps
  package-lock.json
  package.json
Due: prettier --write

feat: add preliminary types
  src/common/types.ts
Due: prettier --write, eslint

chore: update tsconfig
  tsconfig.json
Due: prettier --write

chore: add 'program' script
  package.json
Due: prettier --write

feat: add prettier module
  src/modules/prettier/config.yml
  src/modules/prettier/files/prettier.config.js
  src/modules/prettier/files/prettier.default.config.js
  src/modules/prettier/files/prettierignore
Due: prettier --write

feat: add git module
  src/modules/git/config.yml
  src/modules/git/files/gitattributes
  src/modules/git/files/gitignore
Due: prettier --write

feat: add ModuleLoader
  src/services/ModuleLoader.ts
Due: prettier --write, eslint

feat: add NodePackageManager
  src/managers/NodePackageManager.ts
Due: prettier --write, eslint

chore: ignore module files for linting
  .eslintrc.json
  tsconfig.json
Due: prettier --write

chore(deps): add has-yarn
  package-lock.json
  package.json
Due: prettier --write

chore: add @managers path
  tsconfig.json
Due: prettier --write

chore(deps): add ora and execa
  package-lock.json
  package.json
Due: prettier --write

chore: add more ts paths
  tsconfig.json
Due: prettier --write

chore(ts): include tests in checks but not in output
  package.json
  tsconfig.json
  tsconfig.production.json
Due: prettier --write

feat(exec): add Execa
  src/common/types.ts
  src/services/Execa.ts
Due: prettier --write, eslint

feat(npm): use Execa in NPM
  src/managers/NodePackageManager.ts
Due: prettier --write, eslint

test(npm): add has-yarn test
  src/managers/NodePackageManager.test.ts
  src/managers/NodePackageManager.ts
Due: prettier --write, eslint

chore(eslint): ignore mocks
  .eslintrc.json
Due: prettier --write

test(npm): add tests for npm
  src/index.ts
  src/managers/NodePackageManager.test.ts
Due: prettier --write, eslint

chore: ignore configs in linting
  .eslintrc.json
  tsconfig.json
Due: prettier --write

chore: add test:coverage script
  package.json
Due: prettier --write

refactor: move main to program.ts
  src/common/types.ts
  src/index.test.ts
  src/index.ts
  src/program.test.ts
  src/program.ts
  src/services/Execa.ts
Due: prettier --write, eslint

test: add Execa.test.ts
  src/__mocks__/@eliasnorrby/log-util.js
  src/services/Execa.test.ts
  src/services/Execa.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{js,ts,yaml,yml,json,md}
  eslint: any of: *.ts
