Repository eliasnorrby/ecfg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore(eslint): error on unused vars
  .eslintrc.json
Due: prettier --write

refactor: use explicit return type
  src/index.ts
Due: eslint, prettier --write

chore: set up semantic release
  .releaserc.js
  .travis.yml
  package-lock.json
  package.json
Due: prettier --write

chore: run semantic-release-cli setup
  package.json
Due: prettier --write

ci: lint and release on travis
  .travis.yml
Due: prettier --write

ci: add slack notifications
  .travis.yml
Due: prettier --write

chore(npm): specify files to publish
  package.json
Due: prettier --write

chore(npm): add 'ecfg' to bin
  package.json
Due: prettier --write

ci: add test step
  .travis.yml
Due: prettier --write

docs: add badges
  README.md
Due: prettier --write

chore(git): ignore outDir (./lib)
  .gitignore
Due: none

chore: correct misspelling in description
  package.json
Due: prettier --write

test: set up jest
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write

chore: add license
  LICENSE
Due: none

chore(deps): add lint-staged
  package-lock.json
  package.json
Due: prettier --write

chore: move husky config to .huskyrc
  .huskyrc.json
  package.json
Due: prettier --write

refactor: export a 'run' method
  src/index.ts
Due: eslint, prettier --write

chore: set up commitlint
  .gitmessage
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write

test: add a placeholder test
  src/index.test.ts
Due: eslint, prettier --write

chore: set up prettier
  .prettierignore
  package-lock.json
  package.json
  prettier.config.js
Due: prettier --write

chore(tsc): use lib as outDir
  tsconfig.json
Due: prettier --write

chore(deps): add typescript & log-util
  package-lock.json
  package.json
Due: prettier --write

chore: npm init
  package.json
Due: prettier --write

chore: add git config files
  .gitattributes
  .gitignore
Due: none

chore: lint staged files before formatting
  .lintstagedrc
Due: none

chore: set up eslint
  .eslintignore
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

feat: add placeholder index.ts
  src/index.ts
Due: eslint, prettier --write

chore: set up lint staged
  .huskyrc.json
  .lintstagedrc
Due: prettier --write

chore: run tsc init
  tsconfig.json
Due: prettier --write

chore: add build script
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.{js,ts,yaml,yml,json,md}
