Repository eliasnorrby/ecfg: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

ci: upload coverage reports to codecov
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): add ora and execa
  package-lock.json
  package.json
Due: prettier --write

chore(deps): bump most deps
  package-lock.json
  package.json
Due: prettier --write

chore: add test:coverage script
  package.json
Due: prettier --write

ci: disable release job
  .github/workflows/ci.yml
Due: prettier --write

chore: add more ts paths
  tsconfig.json
Due: prettier --write

feat(exec): add Execa
  src/common/types.ts
  src/services/Execa.ts
Due: prettier --write, eslint

feat(npm): use Execa in NPM
  src/managers/NodePackageManager.ts
Due: prettier --write, eslint

test: add file path transform test
  src/services/ModuleLoader.test.ts
  src/services/ModuleLoader.ts
  src/services/__mocks__/YamlReader.ts
Due: prettier --write, eslint

chore: update tsconfig
  tsconfig.json
Due: prettier --write

chore: ignore configs in linting
  .eslintrc.json
  tsconfig.json
Due: prettier --write

test(npm): add has-yarn test
  src/managers/NodePackageManager.test.ts
  src/managers/NodePackageManager.ts
Due: prettier --write, eslint

test: add YamlReader.test.ts
  src/services/YamlReader.test.ts
Due: prettier --write, eslint

chore: add @managers path
  tsconfig.json
Due: prettier --write

feat: add YamlReader
  src/common/types.ts
  src/services/YamlReader.ts
  src/services/__mocks__/YamlReader.ts
Due: prettier --write, eslint

chore(eslint): ignore mocks
  .eslintrc.json
Due: prettier --write

feat: add git module
  src/modules/git/config.yml
  src/modules/git/files/gitattributes
  src/modules/git/files/gitignore
Due: prettier --write

ci: add .deepsource.toml
  .deepsource.toml
Due: none

test(npm): add test case without packages
  src/managers/NodePackageManager.test.ts
Due: prettier --write, eslint

feat: add PackageJsonService
  src/__mocks__/fs.ts
  src/common/types.ts
  src/services/PackageJsonService.test.ts
  src/services/PackageJsonService.ts
Due: prettier --write, eslint

feat(nsm): add NodeScriptManager
  src/managers/NodeScriptManager.test.ts
  src/managers/NodeScriptManager.ts
Due: prettier --write, eslint

refactor(nsm): destructure arguments
  src/managers/NodeScriptManager.ts
Due: prettier --write, eslint

feat: add NodeFieldManager
  src/managers/NodeFieldManager.test.ts
  src/managers/NodeFieldManager.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{js,ts,yaml,yml,json,md}
  eslint: any of: *.ts
